* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Exo 2', sans-serif;
}

body {
    font-family: 'Exo 2', sans-serif;
    position: relative;
    width: auto;
    height: auto;
    background: linear-gradient(90deg, #C33764 0%, #1D2671 100%), #C33764;
}

#particles-js {
    position: relative;
    width: 100%;
    height: 100%;
}


#textAi {
    position: absolute;
    top: 6.5%;
    font-size: 5rem;
    left: 40%;
    /*font-weight: bolder;*/
    color: white;
}

#textApp {
    position: absolute;
    font-weight: 300;
    top: 21%;
    font-size: 3em;
    left: 26.8%;
    color: white;
}

#value {
    position: absolute;
    width: 29.2%;
    height: 25%;
    left: 17%;
    top: 41%;
    padding: 1em;
    background: #F4F4F4;
    border: 2px solid #D448B5;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
}

select {
    position: absolute;
    width: 16.8%;
    height: 7.2%;
    left: 17%;
    top: 69.5%;
    background: #FFFFFF;
    border: 2px solid #D448B5;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1.5em;
}

#send {
    position: absolute;
    width: 11.9%;
    height: 7%;
    left: 34.5%;
    top: 69.2%;
    background: #D448B5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size:x-large;
    color: white;
}

#result {
position:absolute;
left: 55%;
top: 33%;
color: white;
font-size: x-large;
}

#img {
    position: absolute;
    width: 29.5%;
    height: 36%;
    left: 49.5%;
    top: 41%;
    border-radius: 20px;
}

.mainImg{
    position: absolute;
    width: 100%;
    height: 100%;
}

.footter {
    position: absolute;
    width: 61.5%;
    height: 9%;
    left: 17%;
    top: 91.5%;
    background: #FFFFFF;
    border: 2px solid #D448B5;
    box-sizing: border-box;
    border-radius: 1em;
}

#lable {
    position: absolute;
    left: 6.4%;
    right: 82.74%;
    top: 29.81%;
    bottom: 36.59%;
    text-align: center;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bolder;
    color: #D448B5;
}


.fab.fa-github {
    position: absolute;
    left: 83%;
    top: 24.5%;
    font-size: 3em;
    color: #D448B5;
}

.fab.fa-vk {
    position: absolute;
    left: 88.3%;
    top: 24.5%;
    font-size: 3em;
    color: #D448B5;
}

.fab.fa-facebook-square {
    position: absolute;
    left:94%;
    top: 22%;
    font-size: 3em;
    color: #D448B5;
}

#nickname {
    position: absolute;
    left: 42.7%;
    top: 32.13%;
    font-style: normal;
    font-size: 140%;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    /* second text */
    color: #5C5C5C;
}

.textDEV {
    position: absolute;
    left: 3.5%;
    font-size: 0.7em;
    top: 40%;
    color: white;
}

.fas.fa-egg {
    position: absolute;
    left: 3.2%;
    right: 86.18%;
    top: 25.92%;
    bottom: 10.86%;
    font-size: 220%;
    color: #D448B5;
}
